.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
flutter_export_environment.sh
GeneratedPluginRegistrant.java
GeneratedPlugins.swift
GeneratedPluginRegistrant.swift
.gradle/
*.jks
*.keystore
*.lock
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.modulemap
ios/Podfile
ios/Podfile.lock
.idea/
*.iml
*.iws
*.lock
*.swp
*.swo
*~
.vscode/
.env
.env.local